parameters:
	ignoreErrors:
		-
			message: '#Trait Wotz\\FilamentTableFilterPresets\\Concerns\\HasSavedTableFilters is used zero times and is not analysed\.#'
			path: src/Concerns/HasSavedTableFilters.php
